@import "normalize";

$time: 0.25s;

body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
}

h1 {
  color: royalblue;
}
h2 {
  color: navy;
  clear: both;
  margin: 2.5em 0 1em;
}
h3 {
  margin: 1.5em 0 1em;
}
a {
  color: tomato;
  transition: color $time;
  &:hover, &:focus {
    color: crimson;
  }
}

#wrap {
  max-width: 36em;
  margin: 0 auto;
  padding: 2em;
}

.error {
  color: red;
  font-weight: bold;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#userCard {
  clear: both;
  overflow: hidden;
  aside {
    float: left;
    width: 10em;
    height: 10em;
    margin-right: 2em;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #ccc;
  }
  article {
    margin-top: 1.15em;
  }
  p {
    margin: 0 0 0.5em;
  }
}

.repo-item {
  margin-bottom: 2.5em;
  p {
    margin: 0 0 0.25em;
  }
  .date {
    color: #888;
  }
}

footer {
  margin-top: 6em;
  text-align: center;
}

[data-show] {
  transition: opacity $time*1.5,
              transform $time*2;
}
[data-show="0"] {
  opacity: 0;
  transform: translateY(2rem);
}
